{% extends 'base.html' %}

{% block judul %} {{JudulAwal}} {% endblock %}

{% block JudulAwal %}
<h3 class="box-title text-center"> {{JudulAwal}} </h3>
{% endblock %}


{% block JudulKonten %}
{% endblock %}

{% block konten %}

<p>Silakan download {{aplikasi}} melalui link dibawah ini. Kunjungi tutorial download apabila bingung dalam mendownloadnya. Dicoba satu-satu ya. Hehe</p>

    <table class="table table-borderless table-hover">
        <thead>
            <tr>
              <th>Direct</th>
              <th>Google Drive</th>
              <th>Mediafire</th>
              <th>Zippyshare</th>
              <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for row in hasil %}
                <tr>
                    
                    <td><a href="{{row.3}}" class="link-dark"><button type="button" class="btn btn-secondary">Download</button></a></td>
                    <td><a href="{{row.4}}" class="link-dark"><button type="button" class="btn btn-primary">Download</button></a></td>
                    <td><a href="{{row.5}}" class="link-dark"><button type="button" class="btn btn-info">Download</button></a></td>
                    <td><a href="{{row.6}}" class="link-dark"><button type="button" class="btn btn-danger">Download</button></a></td>
                    <td>{{row.7}}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

