{% extends 'base.html' %}

{% block judul %} DownloadAFA | TAMBAH {% endblock %}

{% block JudulAwal %}
<h3 class="box-title"> TAMBAH APLIKASI </h3>
{% endblock %}

{% block JudulKonten %}
{% endblock %}

{% block konten%}
    <form action="{{url_for('proses_tambah')}}" method="POST">
        <div class="form-group">
            <label>Nama Aplikasi</label>
            <input type="text" name="nama" class="form-control" placeholder="Nama Aplikasi" required>
        </div>
        <div class="form-group">
            <label>Direct</label>
            <input type="text" name="direct" class="form-control" placeholder="Link Direct">
        </div>
        <div class="form-group">
            <label>Google Drive</label>
            <input type="text" name="google" class="form-control" placeholder="Link Google Drive">
        </div>
        <div class="form-group">
            <label>Mediafire</label>
            <input type="text" name="mediafire" class="form-control" placeholder="Link Mediafire">
        </div>
        <div class="form-group">
            <label>Zippyshare</label>
            <input type="text" name="zippyshare" class="form-control" placeholder="Link Zippyshare">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="text" name="password" class="form-control" placeholder="Password">
        </div>
        <br>
        <div class="box-footer">
            <button type="reset" class="btn btn-default"> Cancel </button>
            <button type="submit" class="btn btn-primary pull-right"> Submit </button>
        </div>
    </form>
{% endblock %}

