{% extends 'base.html' %}

{% block judul %} DownloadAFA | UBAH {% endblock %}

{% block JudulAwal %}
<h3 class="box-title"> UBAH APLIKASI </h3>
{% endblock %}

{% block konten%}


<form action="{{url_for('proses_ubah')}}" method="POST">
    {% for row in hasil %}
        <div class="form-group">
            <label>Nama Aplikasi</label>
            <input type="hidden" name="id" value="{{ row.0 }}">
            <input type="text" name="nama" class="form-control" placeholder="Nama Aplikasi" value="{{row.2}}">
        </div>
        <div class="form-group">
            <label>Direct</label>
            <input type="text" name="direct" class="form-control" placeholder="Link Direct" value="{{row.3}}">
        </div>
        <div class="form-group">
            <label>Google Drive</label>
            <input type="text" name="google" class="form-control" placeholder="Link Google Drive" value="{{row.4}}">
        </div>
        <div class="form-group">
            <label>Mediafire</label>
            <input type="text" name="mediafire" class="form-control" placeholder="Link Mediafire" value="{{row.5}}">
        </div>
        <div class="form-group">
            <label>Zippyshare</label>
            <input type="text" name="zippyshare" class="form-control" placeholder="Link Zippyshare" value="{{row.6}}">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="text" name="password" class="form-control" placeholder="Password" value="{{row.7}}">
        </div>
    {% endfor %}
<br>
    <div class="box-footer">
        <button type="reset" class="btn btn-default"> Cancel </button>
        <button type="submit" class="btn btn-primary pull-right"> Submit </button>
    </div>
</form>
{% endblock %}
